body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f9f9f9;
    margin-top: 0 ;
    margin-left: 0;
}

h2, h3 {
    color: #333;
}


form {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

input, button {
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background: #0b3c5d;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #09527b;
}

input[type="text"], input[type="number"] {
    width: calc(25% - 12px);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0b3c5d;
    color: white; 
}