body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: green;
}

h2 {
    color: #333;
}

input {
    margin:5px;
    padding:8px;
    border-radius:4px;
    border:1px solid #ccc;
    width: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top:10px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #0b3c5d;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #d9edf7;
}

a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #0b3c5d;
    font-weight: bold;
}

a:hover {
    color: #09527b;
}
button {
    padding: 10px 20px;
    background: #000406;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}