body{
    font-family: Arial;
    padding: 20px;
    background:green;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.btn{
    background-color:black;
    border-radius:8px;
    padding:18px;
    color:white;

}
button:hover{
    background-color:green;
}

.product-card{
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}


.product-card:hover{
    transform: scale(1.05);
}
button{
    color:white;
}
.product-card h3{
    margin-bottom: 10px;
}

.product-card button{
    margin-top: 10px;
    padding: 8px;
    border: none;
    background: #e74c3c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}